<!DOCTYPE html>
<html lang="ca">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">	
    <link rel="stylesheet" href="css/gm.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
  </head>
  <body>
	<header>Header</header>
	<nav class="navbar fixed-top">Navigation</nav>
	<div class="container-fluid W-100 d-flex h-100">
        <div class="row h-100">
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        C11
                    </div>              
                </div>	
                <div class="row">
                    <div class="col-sm">
                        C21
                    </div>              
                </div>	
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        C12
                    </div>              
                </div>	
                <div class="row">
                    <div class="col-sm">
                        C22
                    </div>              
                </div>	
            </div>
        </div>	
    </div>
	<footer>Footer</footer>
  </body>
</html>
